<launch>
    <arg name="bag_filename" default="/home/chen/Datasets/TUM/freiburg2_desk.bag"/>
    <node pkg="ros_interface"  type="ros_interface"  name="ros_interface"  output="screen"/>

    <!--rosbag -->
    <node name="playbag" pkg="rosbag" type="play"
      args="--clock $(arg bag_filename)" />
</launch>
